<!doctype html>
<html>
  <head>
    <title>Staff Data</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <h1>Available endpoints</h1>

    <h2>
      <a href='/salaries'>
        <pre>/salaries</pre>
      </a>
    </h2>

    <p>
      Returns the complete data set, as JSON.
    </p>

    <h2>
      <a href='/averages'>
        <pre>/averages</pre>
      </a>
    </h2>

    <p>
      Returns JSON mapping from a department name to that department's
      average current salary.
    </p>

    <h2>
      <a href='/headcount_over_time?department=Engineering'>
        <pre>/headcount_over_time[?department=DEPT_NAME]</pre>
      </a>
    </h2>

    <p>
      Returns a headcount grouped by month, as a JSON array nested under the
      <code>"data"</code> key.

      Accepts an optional query param <code>department</code> to filter the
      list.
    </p>
  </body>
</html>
